<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="connection.url">
            jdbc:mysql://db4free.net:3306/hiresystem
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.username">
            hiresystem
        </property>
        <property name="connection.password">
            hiresystem
        </property>
        &lt;!&ndash;<property name="hibernate.current_session_context_class">
            thread
        </property>&ndash;&gt;
        <property name="hibernate.show_sql">
            true
        </property>-->
        <mapping package="entity"/>
    </session-factory>
</hibernate-configuration>